extends layout

include mixins/_messageForm

block content
  .inner
    .contact__page
      .contact-title
        h2 #{title}
        p Don't be a stranger. If there's anything you'd like to ask us, get in touch using one of the methods listed below.
        .border
      .contact-details__wrapper
        .contact-details
          .contact-phone
            h3 Call us
            p Office:
              span.contact-space
                a(href="tel:+441932852852") 01932852852
            p Gareth:
              span.contact-space
                a(href="tel:+447932852852") 07932852852
          .contact-email
            h3 Email us
            p Email:
              span.contact-space
                a(href="mailto:gareth@gjjames.co.uk") gareth@gjjames.co.uk
        .border
      .contact-form__wrapper
        h3 Send us a message
        +messageForm()
