mixin filtersList(tagParents = {})
  .filters
    .filter-parent__list
      h2 Filter By
      each parent in tagParents
        h4.filter-parent__title= parent.tagParentName
        ul.filter-children__list
          each child in parent.tags
            li.filter-children__item
              input(type="checkbox", id=child value=child name="filters")
              label(for=child)= child
