mixin messageForm()
  form(action="/contact-page/success" method="POST" class="form--flex card email__card")
    div.contact__form-width
      label(for="name") Name
      input(type="text" name="name" placeholder="Your Name" value='' required)
      label(for="email") Email
      input(type="email" name="email" placeholder="Your Email" value='' required)
      label(for="subject") Subject
      input(type="text" name="subject" placeholder="Subject" value='' required)
      label(for="company") Company Name
      input(type="text" name="company" placeholder="Your Company" value='' required)
    div.contact__form-width
      label(for="message") Message
      textarea(name="message", cols="30", rows="10" required)

    br
    input(type="submit" value="Submit" class="button btn-send")