mixin mobileFilterModal()

    #mobileFilter.hidden__desktop
        .modal__header
            h3 Refine Products
        .modal__content
            .categories--list
                h3 Choose a category
                ul.tags.tags--flex
                    each c in categories
                        li.tag
                            a.tag__link(href=`/stock1234/products/c/${c._id}`)
                                span.tag__text= `${c._id}s`
            .filters--list
                span.btn-clear-mobile--filters.hidden__desktop clear all
                +filtersList(tagParents)
                .modal-close__wrapper
                    span.btn.btn--modal__close Close
