mixin productCard(product = {})
    .store
        a(href=`/product/${product.slug}` class="store--hover")
            .store__hero
                img(src=`/uploads/${product.photo || 'store.png'}`, alt=product.SKU)
            .store__details
                p.title--product  #{product.productName}
                //- p= product.SKU
            if user.isAdmin == true
                span addding edit button