mixin topThreeCategory()
  .inner
    h3 Top Three categories
    .top-category__wrapper
      .top-category__card
        h4 Bracelets
        img(src="/images/cat-bracelet.jpeg", alt="Bracelet Category")
        div.btn__wrapper
          a.button.category_btn(href="/stock1234/products/c/Bracelet") View More
      .top-category__card
        h4 Earrings
        img(src="/images/cat-earring.jpeg", alt="Earring Category")
        div.btn__wrapper
          a.button.category_btn(href="/stock1234/products/c/Earring") View More
      .top-category__card
        h4 Pendants
        img(src="/images/cat-pendants.jpeg", alt="Pendant Category")
        div.btn__wrapper
          a.button.category_btn(href="/stock1234/products/c/Pendant") View More