.admin__sidebar {
  width: 225px;
  height: 100vh;
  background-color: #240D65;
  float: left;
  // margin-top: -1.4em;

  a.nav__link {
    text-transform: none;
  }
  .nav__link--active {
    background-color: white;
    color: black;
  }

  .nav__Section {
    margin-top: 43px;
    a {
      border: none;
    }
  }


  @media all and (max-width: 1400px) {
    margin-top: -2.8em;
  }

  @media all and (max-width: 900px) {
    width: 100%;
    height: auto;

    .nav__Section {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 17px;
      margin-top: 0;
    }
  }
}

.admin__main {
  margin: 0 50px;
  width: 100%;

  @media all and (max-width: 900px) {
    width: auto;
  }

  select {
    text-transform: capitalize;
  }
}