html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
}

.admin__area {
  display: flex;

  @media all and (max-width: 900px) {
    flex-direction: column;
  }
}

.inner {
  max-width:1350px;
  margin: 0 auto;
  @media all and (max-width: 1400px) {
    padding: 2rem;
  }
}
