html, body {
  margin:0;
  padding:0;
  height:100%;
}
html {
  font-size: 10px;
}

body {
  background: $purple;
  background:#efefef;
}

#container {
  min-height:100%;
  position:relative;
  & .content {
    padding-bottom:260px;
    & .admin__area {
      margin-bottom: -30px;
    }
  }
}



.admin__area {
  display: flex;

  @media all and (max-width: 900px) {
    flex-direction: column;
  }
}

.inner {
  max-width:1350px;
  margin: 0 auto;
  @media all and (max-width: 1400px) {
    padding: 2rem;
  }
}
